body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: rgb(255, 255, 255);
  line-height: 1.6;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* Container */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

}

/* Intro */

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;

  background: 
  url("../images/background.png") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.intro__inner {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  text-align: center;
}

.intro__title {
  font-size: 70px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  color: #fff
}

.intro__title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 30px auto;
  background-color: #fff;

}

.intro__suptitle {
  font-size: 52px;
  color: rgba(104, 103, 103, 0.425);
  font-family: 'Kaushan Script', cursive;
}

/* Header */

.header {
  padding-top: 30px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.header__logo {
  font-size: 30px;
  font-weight: 700;
  color: #ffff;
}

/* Navigation */
.nav {
  font-size: 14px;
  text-transform: uppercase;
}

.nav__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  position: relative;
  color: #fff; 
  text-decoration: none;

  transition: color .1s linear;
}

.nav__link:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  
  background-color: rgb(133, 203, 250);
  opacity: 0;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;

  transition: opacity .1s linear;
}

.nav__link:hover {
  color: #8a8888;

}

.nav__link:hover:after,
.nav__link.active:after {
  opacity: 1;
}

.nav__link.active {
  color: #8a8888;
}

/* Button */
.btn {
  display: inline-block;
  vertical-align: top;
  padding: 8px 30px;

  border: 3px solid #fff;

  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
}

.btn:hover {
  background-color: #fff;
  color: #000;
}

/* Slider */

.slider {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.slider__inner {
display: flex;
justify-content: space-between;
}

.slider__item {
  width: 18%;
  padding: 10px;
  position: relative;

  border-top: 3px solid #fff;
  opacity: .7;

  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
}

.slider__item.active {
  opacity: 1;
}

.slider__item.active:before {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  
  background-color: rgb(109, 216, 248);
  position: absolute;
  top: -3px;
  left: 0;
  z-index: 1;

}

.slider__num {
  font-size: 24px;
 font-weight: 700;
}

/* Section */

.section {
  padding: 80px 0;
  color: #000;
}

.section__header {
  width: 100%;
  min-width: 950px;
  margin: 0 auto 40px;

  text-align: center;
}

.section__suptitle {
  font-family: 'Kaushan Script', cursive;
  font-size:  24px;
  color: #333;
}

.section__title {
  font-size: 30px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}

.section__title:after {
 content: "";
 display: block;
 width: 60px;
 height: 3px;
 margin: 30px auto;
 background-color: rgb(14, 177, 253);
}

.section__text {
  font-size: 15px;
  color: #5c5a5a;
}

/* About */

.about {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.about__item {
  width: 380px;
  position: relative;

  background-color: #77cafa;
}

.about__item:hover .about__img {
 transform: translate3d(-10px, -10px, 0);
  }

.about__item:hover .about__img img {
  opacity: .1;
}

.about__item:hover .about__text {
opacity: 1;
}

.about__img {
  background: linear-gradient(to bottom, #140f0f, #16140b);

  transition: transform .2s linear;
}

.about__img img {
  display: block;
  transition: opacity .1s linear;
}

.about__text {
  width: 100%;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 800px;
  text-align: center;
  opacity: 0;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  transform: translate3d(0, -50%, 0);

  transition: opacity .2s linear;
}

/* Statistics */

.statistics {
  background: 
  url("../images/gold.png") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.stat {
  display: flex;
}

.stat__item {
  flex: 1 1 0;
  padding: 70px 25px;

  border-left: 1px solid #b5eae0;
  text-align: center;
  color: #fff;
}

.stat__item:last-child {
  border-right: 1px solid #b5eae0;
}

.stat__counter {
  margin-bottom: 10px;
  font-size: 72px;
  font-weight: 700;
  line-height: 1;
}

.stat__text {
  font-size: 14px;
  text-transform: uppercase;
}

/* Products */ 

.products {
  padding: 70px 20px;
}

.product__item {
  float: left;
  width: 25%;
  padding: 5px;
}

.products::after {
  content: "";
  clear: both;
  display: table;
}

.products button {
  border: none;
  outline: 0;
  padding: 6px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 25px;
}

.products button:hover {
  opacity: 0.7;
}